.logout{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    right: 0;
    text-align: right;
}


.btn-logout{
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    text-align: right;
    border-radius: 10px;
    background-color: #15832e;
    color: white;
}
.btn-logout:hover{
    background-color: #106624;
    color: white;
}
.titulo{
    margin-top: 2rem;
}
.table{
    border: 1px solid black;
}
.contenedor{
    width: 50%;
    margin: auto;
}
.cont--form{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}


.btn-block{
    grid-column: 1/3;
    grid-row: 6;
}

.registrar{
   text-align: center;
}

.btn{
    background-color: #15832e;
    color: white;
    border-radius: 10px;
}
.btn:hover{
    background-color: #106624;
    color: white;
}
.table{
    height: 10rem;
}

@media (max-width: 860px){
    .cont--form{
        display: flex;
        flex-direction: column;
        width: 90;
    }

}