/** Globales **/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
:root{
    --principal: #00a6cb;
    --secundario: #c4d94b;
    --warning: #ff9e02;
    --dark: #000;
    --letra: #fff;
    --font: 'IBM Plex Sans', sans-serif;
    --fnegrita: 'IBM Plex Sans', sans-serif;
    --radius: .8rem;
    --hiper: #53a298;
    --btn:  #15832e;
    --hover:#106624;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}


body{
    /* background: linear-gradient(90deg, rgba(25,38,71,1) 0%, rgba(4,7,40,1) 50%, rgba(5,4,34,1) 100%);  */
}
.portada{
    display: flex;
    justify-content: center;
    margin: auto;
    color: var(--dark);
    font-size: 2rem;
    margin-top: 15%;
    box-shadow: 46px 44px 30px -12px rgba(0,0,0,0.72);
    font-style: italic;
}
@media (max-width: 768px){
    .portada{
        text-align: center;
    }
}
/* formulario */
.cont--form, form{
    display: flex;
    flex-direction: column;
    margin: auto;
   /*  background: linear-gradient(90deg, rgba(25,38,71,1) 0%, rgb(6, 13, 97) 50%, rgba(5,4,34,1) 100%);  */
    
}
form{
    width: 35%;
    margin-bottom: 1rem;
    padding: 4rem;
    margin-top: 5%;
    box-shadow: 46px 44px 30px -12px rgba(0,0,0,0.72);
    border: 1px solid rgb(97, 96, 96);
}

.cont--titulo{
    display: flex;
    justify-content: center;
    
}
.cont--derivados{
    display: flex;
    justify-content: space-evenly;
}
.header--derivado{
    color: var(--dark);
    font-size: 2em;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}
.titulo{
    font-size: 3rem;
    color: var(--dark);
    margin-top: 1rem;
}
.input, label{
    padding: 5px;
    font-size: 2rem;
    color: var(--dark);
    margin: 7px;
    overflow: hidden;
}
label{
    font-size: 2.5rem;
}
.btn{
    margin: 1rem;
    background-color: var(--btn);
    color: var(--letra);
   /*  background-color: rgb(15, 7, 122); */
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 2.5rem;
}
.btn:hover{
    background-color: var(--hover);
}
.input{

    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 3px 0.2rem rgba(0, 123, 255, 0.25);
}
.error{
    width: 100%;
    color: red;
    font-size: 1.5rem;
}

.cont--cap{
    display: inline-block;
    justify-content: center;
}

.cap{
    font-size: 3rem;
    padding: 10px;
}
@media (max-width: 400px){
    label{
        width: 100%;
        font-size: 1.5rem;
    }
    .cont--form{
        width: 100%;
    }
    form{
        width: 100%;
        margin-top: 1rem;
        box-shadow: none;
    }
}
@media (max-width: 768px){
    input{
        width: 100%;
        font-size: 1.5rem;
    }
    form{
        width: 80%;
        box-shadow: none;
    }
}

.captcha{
    background: -webkit-linear-gradient(rgb(200, 230, 1), red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    user-select: none;
    font-size: 7rem;
    margin: 10px;
  }
  .hidden{
    display: none;
    visibility: hidden;
  }
  .error2{
    border: 1px solid red;
  }